<footer>
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Copyright &copy; 2024 - All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>